# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# Archivos grandes de datos
data/raw/
data/processed/
weights/*.joblib
weights/*.h5
weights/*.pt

# Archivos temporales
*.tmp
*.temp
assets/demo_preview.png

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Mantener solo algunos archivos de ejemplo si es necesario
!data/raw/feathers_images/feathers/images/columbiformes/columba_livia/*.jpg